{:duct.core/project-ns  todo
 :duct.core/environment :production

 :duct.module/logging {}
 :duct.module.web/api {}
 :duct.database.sql/hikaricp {}

 ; routing
 :duct.module/ataraxy
 {["/users"] {[:post] [:users/create]
              [:post "/signin"] [:users/signin]}
  ["/articles"] {[:get] [:articles/index]
                 [:post] [:articles/create]}}

 :todo.handler.articles/index
 {:db #ig/ref :duct.database/sql}

 :todo.handler.articles/create
 {:db #ig/ref :duct.database/sql}

 :todo.handler.users/create
 {:db #ig/ref :duct.database/sql}

 :todo.handler.users/signin
 {:db #ig/ref :duct.database/sql}}
