{:duct.core/project-ns  todo
 :duct.core/environment :production

 :duct.module/logging {}
 :duct.module.web/api {}
 :duct.database.sql/hikaricp {}

 ; buddy
 :duct.middleware.buddy/authentication
 {:backend :jws
  :secret #duct/env "JWT_SECRET"}

 :duct.router/ataraxy
 {:middleware {:jws-auth #ig/ref :duct.middleware.buddy/authentication}}

 ; routing
 :duct.module/ataraxy
 {["/users"] {[:post] [:users/create]
              [:post "/signin"] [:users/signin]}
  ["/articles"] {[:get] [:articles/index]
                 [:post] ^:jws-auth [:articles/create]}}

 :todo.handler.articles/index
 {:db #ig/ref :duct.database/sql}

 :todo.handler.articles/create
 {:db #ig/ref :duct.database/sql}

 :todo.handler.users/create
 {:db #ig/ref :duct.database/sql}

 :todo.handler.users/signin
 {:db #ig/ref :duct.database/sql
  :jwt-secret #duct/env "JWT_SECRET"}}
