{:duct.core/project-ns  todo
 :duct.core/environment :production

 :duct.module/logging {}
 :duct.module.web/api {}
 :duct.module/sql {}

 ; routing
 :duct.module/ataraxy
 {["/articles"] {[:get] [:articles/index]}}

 :todo.handler.articles/index
 {:db #ig/ref :duct.database/sql}}
